body{
  margin:0;
  text-align: center;
}

hr{
  border: dotted grey 6px;
  border-bottom:none;
  width: 4%;
  margin:50px auto;
}


.top-container{
  background-color: #E4F9F5;
  position: relative;
  padding:100px;
  padding-bottom: 0;
}

h1{
  margin-top: 0;
  font-family: 'Sacramento', cursive;
  font-size: 100px;
  color: #66BFBF;
}

.middle-container{
  margin :100px 0;
}

.bottom-container{
  background-color: #66BFBF;
  padding:50px 0 20px;
}

.pro{
  text-decoration: underline;
  font-weight: bold;
  font-family: 'Sacramento', cursive;
  font-size: 50px;
}

.pro1{
  font-family: 'Sacramento', cursive;
  font-size: 50px
}

.top-cloud{
    position : relative;
    left: 350px;
    top : 30px;
}

.bottom-cloud{
  position : absolute;
  left: 320px;
  bottom: 280px;
}

.bottom-cloud2{
  position : absolute;
  left: 250px;
  bottom: 600px;
}

h2,h3{
  font-family: 'EB Garamond', sans-serif;
  color:#11999E;
  font-size: 30px;
}

.profile{
  border-radius: 50%;
}

.profile1{
  margin-bottom: 50px;
}

p{
  font-size: 20px;
}

.skill-row{
  width:50%;
  margin:100px auto 100px auto;
  text-align: left;
}

.skill{
  width : 25%;
  float : left;
  margin-right: 30px;
}

.btn {
  background: #11cdd4;
  background-image: linear-gradient(top, #11cdd4, #11999e);
  border-radius: 8px;
  font-family: Georgia;
  color: #ffffff;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: linear-gradient(top, #30e3cb, #2bc4ad);
  text-decoration: none;
}

a{
  color:#11999E;
  font-family: 'EB Garamond', sans-serif;
  margin:10px 20px 10px 20px;
  text-decoration: none;
}

a:hover{
  color:#EAF6F6;
}

.copyright{
  color: #EAF6F6;
  font-size: 0.75rem;
}
